@model IEnumerable<Link_with_Dream.Models.GroupPeople>
@{
    ViewData["Title"] = "Groupyouareasadmin";
}
<h3>Group you re as an Admin</h3>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Group.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group.MenbersType)
            </th>
            <th>
                Action
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Group.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Group.MenbersType)
                </td>
                <td>
                    <div class="row">
                        <a asp-controller="GroupManagement" asp-action="GroupAbout" asp-route-id="@item.Group.Id" class="btn btn-outline-info btn-sm" style="float:right;">Details</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


