@model IEnumerable<Link_with_Dream.Models.GroupPeople>
@{
    ViewData["Title"] = "GroupMemberRequest";
}

<h1>Group Request</h1>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Group.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group.MenbersType)
            </th>
            <th>
                Actions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Group.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Group.MenbersType)
                </td>
                <td>
                    <div class="row">
                        <form asp-action="AcceptMemberRequest" method="post">
                            <input type="text" name="id" value="@item.Id" hidden />
                            <input type="submit" value="Accept" class="btn btn-outline-primary btn-sm" />
                        </form>
                        <form asp-action="RejectAdminRequest" method="post">
                            <input type="text" name="ret" value="5" hidden />
                            <input type="text" name="id" value="@item.Id" hidden />
                            <input type="submit" value="Reject" class="btn btn-outline-danger btn-sm" />
                        </form>
                        <a asp-controller="GroupManagement" asp-action="GroupAbout" asp-route-id="@item.Group.Id" class="btn btn-outline-info btn-sm" style="float:right;">Details</a>
                    </div>
                   

                </td>
            </tr>
        }
    </tbody>
</table>

