@model IEnumerable<Link_with_Dream.Models.ContentPost>

@{
    ViewData["Title"] = "Post";
}

<div class="card">
    <div class="row" style="padding:10px;">
        <div class="col-md-2 align-center">
            <img src="~/Images/@ViewBag.Userinfo.ProfilePic" class="rounded-circle align-center" style="width:150px; height:150px;" />
        </div>
        <div class="col-md-10">

            <h2>@ViewBag.Userinfo.FirstName  @ViewBag.Userinfo.LastName</h2>

            <label class="text-justify"> @ViewBag.Userinfo.Profession </label>
            <p class="text-justify"> @ViewBag.Userinfo.PersonalObjective </p>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a asp-controller="UserProfile" asp-action="Post" asp-route-CUserId="@ViewBag.Userinfo.Id" class="list-group-item list-group-item-action" id="Posts">Posts</a>
            <a asp-controller="UserProfile" asp-action="About" asp-route-CUserId="@ViewBag.Userinfo.Id" class="list-group-item list-group-item-action" id="About">About</a>
            <a asp-controller="UserProfile" asp-action="AcademicQualification" asp-route-CUserId="@ViewBag.Userinfo.Id" class="list-group-item list-group-item-action" id="AcademicQualification">Academic Qualification</a>
            <a asp-controller="UserProfile" asp-action="SpecialQualification" asp-route-CUserId="@ViewBag.Userinfo.Id" class="list-group-item list-group-item-action" id="SpecialQualification">Special Qualification</a>
            <a asp-controller="UserProfile" asp-action="ProfetionalSkill" asp-route-CUserId="@ViewBag.Userinfo.Id" class="list-group-item list-group-item-action" id="ProfetionalSkil">Profetional Skill</a>
            <a asp-controller="UserProfile" asp-action="WorkingExperience" asp-route-CUserId="@ViewBag.Userinfo.Id" class="list-group-item list-group-item-action" id="Working Experience">Working Experience</a>
            <a asp-controller="UserProfile" asp-action="Project" asp-route-CUserId="@ViewBag.Userinfo.Id" class="list-group-item list-group-item-action" id="Project">Project</a>
            <a asp-controller="UserProfile" asp-action="CareerInformation" asp-route-CUserId="@ViewBag.Userinfo.Id" class="list-group-item list-group-item-action" id="Project">Career Information</a>
        </div>
    </div>


    <div class="col-md-6">
        <partial name="_StateMessege" model="@ViewBag.Messege" />
        @if (ViewBag.Status == 0)
        {
            <p>
                <button type="button" class="btn btn-info btn-sm btn-block" data-toggle="modal" data-target="#PersonalContent">Create a New Post</button>
            </p>
        }
        else
        {
            <h4>Uploaded Content</h4>
            <hr />
        }


        <div class="modal fade bd-example-modal-lg" id="PersonalContent" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" style="padding:10px;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add a New Content</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form asp-controller="ContentManagement" asp-action="PersonalContentPost" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <input name="heading" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Subject of the Topic" required>
                            </div>
                            <div class="form-group">
                                <textarea name="description" class="form-control" id="editor3" rows="15" required></textarea>
                            </div>
                            <div class="form-group">
                                <div class="img-thumbnail" style="width:100%;">
                                    <div class="btn btn-light btn-sm">
                                        <input type="file" name="image">
                                    </div>
                                </div>
                            </div>
                            <input type="submit" value="Post" class="btn btn-primary btn-sm btn-block" />
                        </form>
                    </div>
                </div>
            </div>
        </div>

        @foreach (var item in ViewBag.Content)
        {
            if (item.PostType == 0)
            {
                <div style="border-style:double; padding:10px; margin-top:10px;overflow:hidden;" class="card card-body">
                    <h5 class="text-primary"> @item.Heading</h5>
                    <h6 class="text-info">Published By :<b>@item.User.FirstName @item.User.LastName</b> </h6>
                    <div style="height:270px;overflow:hidden;">
                        @if (item.Image == null || item.Image == "")
                        {

                        }
                        else
                        {
                            <img src="~/Images/@item.Image" alt="..." style="height:150px; float: left;padding-top:6px;margin-right:15px;">
                        }
                        <div>
                            @Html.Raw(item.Description)
                        </div>
                    </div>
                    <div class="row" style="padding-left:15px;padding-top:5px;">
                        <a class="btn btn-outline-info btn-sm pull-right" asp-controller="ContentManagement" asp-action="Index" asp-route-PostId="@item.Id">View Details</a>
                        @if (ViewBag.Status == 0)
                        {
                            <a class="btn btn-outline-primary btn-sm pull-right" asp-controller="ContentPosts" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        }
                    </div>

                </div>
            }

        }
    </div>
    <div class="col-md-3">
        @if (ViewBag.Status != 0)
        {
            if (ViewBag.Status == 1)
            {
                <button class="btn btn-info btn-block">Cancle Request </button>
            }
            else if (ViewBag.Status == 2)
            {
                <button class="btn btn-info btn-block">Accept Request </button>
            }
            else if (ViewBag.Status == 3)
            {
                <button class="btn btn-info btn-block">Unfriend </button>
            }
            else if (ViewBag.Status == 4)
            {
                <button class="btn btn-info btn-block">Send Request </button>
            }
            else
            {

            }
            <button class="btn btn-info btn-block">Send Messege </button>
            <button class="btn btn-info btn-block">Make Repoet</button>
        }
    </div>

</div>
<link href="~/lib/Trumbowyg-master/dist/ui/trumbowyg.min.css" rel="stylesheet" />
@section Scripts{
    <script>
        $('#editor3').trumbowyg();
    </script>
}