@model Link_with_Dream.Models.CareerInformation

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CareerInformation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarrierObjective)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarrierObjective)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LookingFor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LookingFor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableFor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableFor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreferedJobCatagory1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreferedJobCatagory1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreferedJobCatagory2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreferedJobCatagory2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreferedJobCatagory3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreferedJobCatagory3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreferdArea1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreferdArea1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreferdArea2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreferdArea2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpectedSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPublic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPublic)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
